// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title {
  a {
  color: #5F727C;
  &:hover{
      opacity: 0.5;
      text-decoration: none;
    }
  }
}

.title-links {
  display: inline;
  a {
    font-size: 20px;
    color: #f0ad4e;
    &:hover{
      opacity: 0.5;
      text-decoration: none;
    }
  }
}

.content {
  text-align: left;
  a {
  color: #5F727C;
  &:hover{
      opacity: 0.5;
      text-decoration: none;
    }
  }
}

.article {
  border-bottom: 1px solid grey;
}

.field_with_errors input{
  border: 1px solid red;
}

.field_with_errors textarea{
  border: 1px solid red;
}
